.screenplay__player__screen {
  position: relative;
  margin: 0;
  padding-top: 50%;
  border: 1px solid black;

  width: 100%;
}

.screenplay__player__content {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.screenplay__player__screen .definition,
.screenplay__player__screen .scene {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.dialogues {
  padding: 1rem;
}

.character__name {
  margin: 1rem 0 0.5rem 0;

  font-size: 2rem;
  font-weight: bold;
}

.character__annotation {
  font-size: 1rem;
  font-weight: normal;
}

.screenplay__player__screen .dialogue {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dialogue__text {
  font-size: 1rem;
  font-weight: bold;
}

.dialogue__annotation {
  font-size: 1rem;
  font-weight: normal;
}
